/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 ** require spree/frontend
 ** remove vendor/assets/stylesheets/spree/frontend

 *= require_self
 *= require_tree .
 *= require spree/frontend/contact_us.scss
*/


#map-container{
    position: relative;
    background-color: rgb(229, 227, 223);
    overflow: hidden;
    height: 400px;

}

#map-outer {
    padding: 20px;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 5px;
    overflow: hidden;
}

.col-md-12{
    margin-bottom: 10px;
}

div#name.input-group,
div#email.input-group{
    width: 49%;
}

div#comments{
    margin-top: 10px;
}

label#label_contact_term_and_cond{
    margin-left: 20px;
}